<ion-header class="ion-padding ion-text-center">
  <h2>WELCOME TO GREEN</h2>
</ion-header>

<ion-content class="ion-padding-vertical" fullscreen="true">
  <ion-toolbar style="top: 30vh">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="login()">LOGIN</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="signup()">SIGNUP</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-content>
